.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: linear-gradient(
        to bottom,
        #fff,
        #F0F2F5
    );
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 2rem;
}
.logo {
    padding: 1.5rem;
}
.navbar::before {
    content: "";
    height: .3rem;
    display: block;
    background: linear-gradient(
        to left,
        #F1883F,
        #EA515A,
        #664389,
        #26A570,
        #28B7E0
    )
}