@import "~antd/dist/antd.css";

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ececec;
}

#root {
  margin:auto;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.ant-card {
  border-radius: 8px;
}

.layout-grid {
  align-content: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap:1rem;
  grid-template-areas: 
    "lc b1"
    "lc b2"
    "lc b3"
    "lc b4";
}
.container{
  position:relative;
  margin-left:auto;
  margin-right:auto;
  padding-right:15px;
  padding-left:15px
}
@media (min-width: 476px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 476px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1340px;
    max-width: 100%;
  }
}
